.productListWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5.2rem;
  .productItemWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .productListSearch {
    margin: 0.5vh auto;
    margin-top: 1rem;
    width: 40%;
    display: flex;
    justify-content: center;
    input {
      border: 1px solid #bbb;
      outline: none;
      padding: 4px 15px;
      width: 100%;
      font-size: 1.1rem;
      letter-spacing: 1px;
      color: #000;
    }
    ::placeholder {
      color: #888;
    }
    .faSearch {
      color: #baf;
      font-size: 1.2rem;
      width: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-left: 2px solid #fff;
      background: #444;
    }
  }
  .filterBlock {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 254px;
    font-size: 0.77rem;
    margin-top: 10px;
    button {
      font-family: Raleway;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #649;
      letter-spacing: 1px;
      outline: none;
      border: 1px solid #649;
      background: none;
      font-weight: 800;
      text-transform: uppercase;
      width: 120px;
      i {
        width: 16px;
      }
    }
  }
}


@media (max-width: 1024px) {
  .productListWrapper {
    .productListSearch {
      width: 78%;
    }
  }
}
@media (max-width: 600px) {
  .productListWrapper {
    .productListSearch {
      width: 96%;
    }
  }
}
