.cartPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5.8rem;
  &Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: Montserrat;
    font-size: 2rem;
    color: #3be;
    width: 24%;
    min-width: 320px;
    height: 54px;
    margin-bottom: 5vh;
    font-weight: 600;
    letter-spacing: 0.5rem;
    border-bottom: 1px solid #999;
    i {
      font-size: 2.1rem;
      margin-left: 0.7rem;
    }
  }
  &EmptyCart {
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #888;
    padding: 0 10px;
    letter-spacing: 1px;
  }
  &PriceAllWrap {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: auto;
    width: 60%;
    margin-top: 15px;
  }
  &PriceAllInnerWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #086;
    width: 100%;
    padding: 9px 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.4rem;
  }
  &TotalPriceAll {
    padding: 0 9px;
    font-family: Montserrat;
    color: #508;
  }
  &PriceAllProducts {
    margin-left: 8px;
    font-family: Montserrat;
  }
  &PayWrap {
    cursor: pointer;
    margin-top: 15px;
    width: 200px;
    text-align: center;
    background: #406;
    color: #0fa;
    font-size: 1.35rem;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3px;
    border-radius: 4px;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px #777;
    i {
      padding-right: 10px;
    }
  }
  .productItem {
    display: flex;
    width: 60%;
    box-shadow: 0 0 1px #999;
    margin: 12px auto;
    padding: 15px 20px;
    &ImgInfoWrap {
      display: flex;
      width: 100%;
    }
    &Img img {
      height: 160px;
      width: 80px;
    }
    &Info {
      display: flex;
      flex-direction: column;
      padding: 0.8rem 0.7rem 0 1.3rem;
      width: 100%;
      &Title {
        color: #000;
        font-size: 1.2rem;
        font-weight: 600;
        word-spacing: 2px;
        margin-bottom: 0.5rem;
      }
      &Text{
        line-height: 17px;
        font-size: 0.9rem;
      }
    }
    &TotalPrice {
      font-family: Montserrat;
    }

    &QuantityPriceWrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 4px;
      color: #437;
      font-size: 1.25rem;
      font-weight: 700;
      min-width: 170px;
      border-bottom: 1px solid #ccc;
    }
    &Quantity {
      display: flex;
      justify-content: space-around;
      align-items: center;
      i {
        font-size: 1.65rem;
        font-weight: 600;
      }
      span {
        color: #086;
        margin-left: 7px;
        font-family: Montserrat;
      }
    }
    &FooterWrap {
      display: flex;
      justify-content: space-around;
      border-left: 1px solid #ccc;
      width: 32%;
      padding: 0.5rem 0 0 1rem;
    }
    &CartBtnWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    &BtnWrap {
      display: flex;
      margin-top: 1rem;
    }

    &BtnPlus, &BtnMinus, &BtnDelete {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.1rem;
      width: 50px;
      background: #063;
      cursor: pointer;
      box-shadow: 0 1px 5px #888;
      color: #fff;
      i {
        font-size: 1.9rem;
      }
    }
    &BtnMinus {
      background: #665;
      margin-left: 10px;
    }
    &BtnDelete {
      margin-left: 10px;
      background: #603;
      i {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 1024px) {
  .cartPage {
    &PriceAllWrap {
      width: 96%;
    }
    .productItem {
      width: 96%;
      box-shadow: 0 1px 4px #777;
    }
  }
}
@media (max-width: 640px) {
  .cartPage {
    &PriceAllInnerWrap {
      justify-content: center;
    }
    &PayWrap {
      margin: 15px auto;
    }
    .productItem {
      flex-direction: column;
      &Info {
        &Text {
          height: 48px;
          overflow: hidden;
        }
      }
      &TotalPrice {
        margin-left: 1rem;
      }
      &FooterWrap {
        width: 100%;
        padding-left: 0;
        border: none;
      }
      &CartBtnWrap {
        flex-direction: column;
        width: 100%;
        border-top: 1px solid #ccc;
      }
      &BtnWrap {
        margin-left: 0;
      }
      &QuantityPriceWrap {
        width: 100%;
        justify-content: center;
        flex-direction: row;
      }
    }
  }
}
