.header {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #102;
  height: 70px;
  width: 100%;
  box-shadow: 0 2px 8px #555;
  user-select: none;
  &Logo {
    color: #baf;
    justify-content: space-around;
    font-family: "Spectral SC";
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.85rem;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: #baf;
    }
  }
  &IconsWrap {
    display: flex;
    align-items: center;
  }
  .headerActiveTab {
    color: #0ff;
  }
  &Menu i {
    color: #baf;
    padding: 0 3px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: #3ef;
    }
  }
  &FavoriteIcon, &HomeIcon {
    color: #baf;
    &:hover {
      text-decoration: none;
      color: #3ef;
    }
    i {
      font-size: 1.32rem;
      padding: 0 9px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &CartIconWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #baf;
    padding: 0 7px;
    &:hover {
      text-decoration: none;
      color: #3ef;
    }
    i {
      font-size: 1.55rem;
    }
    span {
      display: flex;
      align-items: flex-start;
      font-size: 1.04rem;
      height: 19px;
      color: #0e8;
    }
  }
}

@media (max-width: 415px) {
  .header {
    &Logo {
      font-size: 1.7rem;
      letter-spacing: 1px;
    }
  }
}
@media (max-width: 370px) {
  .header {
    &Logo {
      font-size: 1.6rem;
      letter-spacing: 0;
      margin: 0;
    }
    &IconsWrap {
      min-width: 160px;
    }
  }
}
