.header {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #102;
  height: 70px;
  width: 100%;
  box-shadow: 0 2px 8px #555;
  user-select: none;
  &LogoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 34px;
    letter-spacing: 2px;
    &:hover {
      text-decoration: none;
    }
  }
  &LogoShort {
    font-family: "Spectral SC";
    font-size: 2rem;
    font-weight: 600;
    color: #baf;
  }
  &LogoLong {
    font-family: "Spectral SC";
    font-size: 1.05rem;
    border-top: 1px solid #fff;
    line-height: 22px;
    color: #baf;
  }
  &IconsWrap {
    display: flex;
    align-items: center;
  }
  .headerActiveTab {
    color: #0ff;
  }
  &Menu i {
    color: #baf;
    padding: 0 3px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: #3ef;
    }
  }
  &FavoriteIcon, &HomeIcon {
    color: #baf;
    &:hover {
      text-decoration: none;
      color: #3ef;
    }
    i {
      font-size: 1.35rem;
      padding: 0 9px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &CartIconWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #baf;
    padding: 0 7px;
    &:hover {
      text-decoration: none;
      color: #3ef;
    }
    i {
      font-size: 1.63rem;
    }
    span {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 17px;
      margin-left: -2px;
      font-size: 0.88rem;
      border-radius: 50%;
      color: #0fa;
    }
  }
}

@media (max-width: 415px) {
  .header {
    &Logo {
      font-size: 1.7rem;
      letter-spacing: 1px;
    }
  }
}
@media (max-width: 370px) {
  .header {
    &Logo {
      font-size: 1.6rem;
      letter-spacing: 0;
      margin: 0;
    }
    &IconsWrap {
      min-width: 160px;
    }
  }
}
