.menu, .menuHide {
  transition: 200ms;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  z-index: 999;
  //background: linear-gradient(40deg, #101, #250030, #101, #250030, #101);
  background: #fff;
  top: 70px;
  right: 0;
  width: 280px;
  height: 100vh;
  //border-top: 0.05rem solid #fff;
  //border-right: 30px solid #fff;
  //border-left: 1px solid #baf;
  text-align: center;
  padding: 50px 0;
  box-shadow: -2px 0 30px 0 #222;
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-family: Montserrat;
    font-size: 0.8rem;
    color: #000;
    text-transform: uppercase;
    padding: 10px 40px 10px 30px;
    letter-spacing: 1px;
    width: 100%;
    text-decoration: none;
    border-bottom: 0.04rem solid #eee;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: #baf;
      background: #000;
    }
  }
}
.menuHide {
  right: -310px;
}

.menuBlack, .menuBlackHide {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
  display: block;
}
.menuBlackHide {
  right: -100vw;
}

@media (max-width: 1024px) {
  .menu, .menuHide {
    a {
      font-size: 0.9rem;
      padding: 12px 20px 12px 40px;
    }
  }
}
