.main {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #609;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  padding-top: 25vh;
  font-family: Montserrat;
}
