.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  width: 100%;
  min-height: 130px;
  background: #202;
  color: #fff;
  font-size: 0.8rem;
  &Logo p{
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-family: "Spectral SC";
    font-weight: 600;
    cursor: pointer;
  }
  &MenuListWrap {
    margin-top: 0;
  }
  &Contacts, &Home, &Wallet {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 7px;
    font-family: Ubuntu;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0ba;
    i {
      padding: 0 8px;
      font-size: 1.25rem;
    }
  }
}
